<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sopra Steria Home</title>

<link rel="stylesheet" href="stylesheets/index_new.css">

<script src="https://kit.fontawesome.com/9331d07697.js"></script>

<link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <!------------------------------------------------------------------->
    <!-- HERO COVER / NAVBAR -->
    <!------------------------------------------------------------------->

    <div class="hero">
      <div class="hero-content">
          <a href="#"><img src="images/Sopra_Steria_logo_white.png" class="logo"/></a>
          
          <div class="navbar">
            <nav class="links">
              <ul>
           <li><a href="#">About</a></li>
           <li><a href="#">Innovation</a></li>
            <li><a href="bransjer.ejs">Bransjer</a></li>
              <li><a href="tema.ejs">Tema</a></li>
                  <li><a href="/tjenester.html">Tjenester</a></li>
                  <li><a href="#">Karriere</a></li>
                    <li><a href="#">Kontakt</a></li>
                      <span><i class="fa fa-bars fa-lg"></i></span>
          </ul>
          </nav>

          <div class="butterfly" >

          </div>

          <div class="service-jobs">

          </div>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------->
    <!-- BLOG FEATURE 1 CONTENT ROW 1 -->
    <!------------------------------------------------------------------->

    <div class="grid">
      <div class="row1 block1">
            <button class="button">Blog feature</button>
      </div>

      <!------------------------------------------------------------------->
      <!-- CUSTOMER TESTIMONIAL 1 CONTENT ROW 1 -->
      <!------------------------------------------------------------------->
      <div class="row1 block2">
            <button class="button">Testimonial</button>
      </div>

      <!------------------------------------------------------------------->
      <!-- NEWS ARTICLE 1 CONTENT ROW 1 -->
      <!------------------------------------------------------------------->
      <div class="row1 block3">
            <button class="button">News Article</button>
      </div>

      <!------------------------------------------------------------------->
      <!-- CUSTOMER TESTIMONIAL 2 CONTENT ROW 2 -->
      <!------------------------------------------------------------------->
      <div class="row2 block4">
            <button class="button">Testimonial</button>
      </div>

      <!------------------------------------------------------------------->
      <!-- EVENTS OR BLOG FEATURE VIDEO CONTENT ROW 2 -->
      <!------------------------------------------------------------------->
      <div class="row2 block5">
            <div class="video-container">
                <div class="video">
                  <video src="images/Abstract_digital.mp4" muted autoplay loop></video>
                </div>
                <div class="content">
                  <button class="button">Testimonial</button>
                  <h1>"Lorem ipsum dolor sit amet."</h1>
                </div>
              </div>
      </div>

      <!------------------------------------------------------------------->
      <!-- NEWS ARTICLE 2 CONTENT ROW 2 -->
      <!------------------------------------------------------------------->
      <div class="row2 block6">
            <button class="button">News Article</button>
      </div>

      <!------------------------------------------------------------------->
      <!-- INNOVATION 1 CONTENT ROW 3 -->
      <!------------------------------------------------------------------->
      <div class="row3 block7">
            <button class="button">Innovation</button>
      </div>

      <!------------------------------------------------------------------->
      <!-- INNOVATION 2 CONTENT ROW 3 -->
      <!------------------------------------------------------------------->
      <div class="row3 block8">
            <button class="button">Innovation</button>
      </div>

      <!------------------------------------------------------------------->
      <!-- WORK AT SOPRA CONTENT ROW 3 -->
      <!------------------------------------------------------------------->
      <div class="row3 block9">
            <button class="button">Career</button>
      </div>
    </div>

    <!------------------------------------------------------------------->
    <!-- FOOTER -->
    <!------------------------------------------------------------------->
    <footer class="footer">
      <div class="footer-container">

<!--        <ul class="footer-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Case studies</a></li>
            <li><a href="#">Our Work</a></li>
            <li><a href="#">Blog</a></li>
        </ul>-->

 <!------------------------------------------------------------------->

        <div class="contact-block">
          <h3>OM SOPRA STERIA</h3>
          <p>Sopra Steria er et ledende, internasjonalt konsulentselskap som tilbyr en av markedets mest omfattende tjenesteporteføljer innen digitalisering.</p>
              <p><i class="fa fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp; Sopra Steria, Biskop Gunnerus´gate 14, 0185 Oslo</p>
              
              <p><i class="fa fa-phone"></i>&nbsp;&nbsp; (+47) 22 57 56 00</p>
              
              <p><i class="fa fa-envelope"></i>&nbsp; &nbsp;firmapost.no@soprasteria.com</p>
        </div>
        <div class="newsletter">
            <div class="newsletter-text">
                <div class="icon">
                    <i class="fa fa-paper-plane"></i>
                    <p>Subscribe to our Newsletter</p>
                      <div class="text-input">
                        <form action="post">
                            <input type="email" name="Enter Your Email Address" placeholder="Email address" size="20">
                            <input type="submit" value="Submit">
                        </form>
                     </div>
                </div>
              </div>
            </div>

<!------------------------------------------------------------------->

        <div class="social-networks">
            <h3>FØLG SOPRA STERIA NORGE</h3>
            <p>Sopra Steria har sterk tro på kunnskapsdeling. Følg oss på sosiale medier, der vi deler hva vi kan og hva vi lærer av hverandre og kundene våre.</p>
                <p><i class="fa fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp; Sopra Steria, Biskop Gunnerus´gate 14, 0185 Oslo</p>
                
                <p><i class="fa fa-phone"></i>&nbsp;&nbsp; (+47) 22 57 56 00</p>
                
                <p><i class="fa fa-envelope"></i>&nbsp; &nbsp;firmapost.no@soprasteria.com</p>
          </div>
        </div><!-- social-networks-->
    </div><!-- footer-container -->
</footer><!-- footer -->

 </div>
</div>

    <!------------------------------------------------------------------->
    <!-- BOTTOM BAR -->
    <!------------------------------------------------------------------->

 <div class="bottom-line">
    <div class="legal">
        <small class="copyright">&copy; Copyright 2019 SmartStudy</small>
    </div>
</div><!-- .bottom-line -->

    <!------------------------------------------------------------------->

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
    <script src="javascripts/page_scroll.js"></script>
  </body>
</html>
