<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ledelse</title>

    <link rel="stylesheet" href="/css/ledelse.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <style></style>
  </head>
  <body>
    <!------------------------------------------------------------------->
    <!-- NAVBAR -->
    <!-----------------------------------------------------------------

      <div class="navbar">
        <a href="#"><img src="/img/soprasteria_logo.png" class="logo"/></a>
        <nav class="links">
          <a href="#">About</a>
          <a href="#">Innovation</a>
          <a href="#">Industries</a>
          <a href="#">Sectors</a>
          <a href="#">Focus</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </nav>
      </div>-->
    <!------------------------------------------------------------------->
    <!-- HERO COVER -->
    <!------------------------------------------------------------------->

    <div class="hero"></div>

    <!------------------------------------------------------------------->
    <!-- LEDELSE CONTENT ROW 1 BLOCK 1 -->
    <!------------------------------------------------------------------->

    <div class="grid">
      <div class="block1">
        <button class="collapsible">
          <img src="/img/kjell.png" class="contact-icon" alt="kjell" />
          <h4>Kjell Rusti</h4>
          <p>CEO Scandinavia</p>
        </button>
        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 1 BLOCK 2 -->
      <!------------------------------------------------------------------->
      <div class="block2">
        <button class="collapsible">
          <img src="/img/leon.png" class="contact-icon" alt="leon" />

          <h4>Leon Engesæth</h4>
          <p>
            Director Business Consulting, Scandinavia
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>
      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 1 BLOCK 3 -->
      <!------------------------------------------------------------------->
      <div class="block3">
        <button class="collapsible">
          <img src="/img/alf.png" class="contact-icon" alt="alf" />

          <h4>Alf G. Jannessen</h4>
          <p>
            Head of Business Analytics
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 2 BLOCK 1 -->
      <!------------------------------------------------------------------->
      <div class="block4">
        <button class="collapsible">
          <img src="/img/odd_inge.png" class="contact-icon" alt="ode" />

          <h4>Odd Inge Bjørdal</h4>
          <p>
            Director Digital Platform Services, Scandinavia
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 2 BLOCK 2 -->
      <!------------------------------------------------------------------->
      <div class="block5">
        <button class="collapsible">
          <img src="/img/solfrid.png" class="contact-icon" alt="solfrid" />
          <h1>Internet of Things</h1>

          <h4>Solfrid Skillbrigt</h4>
          <p>
            Director HR & Strategy, Scandinavia
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 2 BLOCK 3 -->
      <!------------------------------------------------------------------->
      <div class="block6">
        <button class="collapsible">
          <img src="/img/ronny.png" class="contact-icon" alt="ronny" />
          <h1>Kundesentriske Løsninger</h1>

          <h4>Ronny Jevard</h4>
          <p>
            CFO, Scandinavia
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>
      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 3 BLOCK 1  -->
      <!------------------------------------------------------------------->
      <div class="block7">
        <button class="collapsible">
          <img src="/img/kristin.png" class="contact-icon" alt="kristin" />
          <h1>AI og Maskinlæring</h1>

          <h4>Kristin Blix-Elton</h4>
          <p>
            Director Marketing & Communication, Scandinavia
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 3 BLOCK 2  -->
      <!------------------------------------------------------------------->
      <div class="block8">
        <button class="collapsible">
          <img src="/img/lene.png" class="contact-icon" alt="lene" />
          <h1>Mixed Reality</h1>

          <h4>Lene Melfald</h4>
          <p>
            Director Projects, Scandinavia
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 3 BLOCK 3 -->
      <!------------------------------------------------------------------->
      <div class="block9">
        <button class="collapsible">
          <img src="/img/nils_erik.png" class="contact-icon" alt="nils" />
          <h1>Personvern</h1>

          <h4>Nils-Erik Auråker</h4>
          <p>
            Director Digital Platform Services Operations, Scandinavia
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 4 BLOCK 1 -->
      <!------------------------------------------------------------------->
      <div class="block10">
        <button class="collapsible">
          <img src="/img/jenny.png" class="contact-icon" alt="jenny" />
          <h1>Robotic Process Automation</h1>

          <h4>Jenny Høyset</h4>
          <p>
            Business Development Director, Strategic Deals
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 4 BLOCK 2 -->
      <!------------------------------------------------------------------->
      <div class="block11">
        <button class="collapsible">
          <img src="/img/morne.png" class="contact-icon" alt="morne" />
          <h1>Skytjenester</h1>

          <h4>Gunnar Mørne</h4>
          <p>
            Business Development Director, Health
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 4 BLOCK 3 -->
      <!------------------------------------------------------------------->
      <div class="block12">
        <button class="collapsible">
          <img src="/img/odegaard.png" class="contact-icon" alt="lars" />
          <h1>Smart City</h1>

          <h4>Lars Ødegaard</h4>
          <p>
            Business Development Director, Government
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

      <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 5 BLOCK 1  -->
      <!------------------------------------------------------------------->
      <div class="block13">
        <button class="collapsible">
          <img src="/img/taraldlien.png" class="contact-icon" alt="kjetil" />
          <h1>Sosiale Virksomheter</h1>

          <h4>Kjetil Taraldlien</h4>
          <p>
            Business Development Director, Transport
          </p>
        </button>

        <div class="text">
          <p>
            <strong>
              Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
              potensielle verdien som ligger i virksomhetens data. Dataene er en
              kilde til vekst og økt konkurransekraft.</strong
            >
          </p>
          <br />

          <p>
            Dette fremmer spørsmålet om hvordan man best benytter denne enorme
            mengden informasjon.
          </p>
          <br />
          <p>
            Sopra Sterias tilbud innenfor Big Data dekker to komplementære
            områder:
          </p>
          <br />
          <ul>
            <li>
              Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
              og følelser, identifisering av svindelforsøk og
              svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
            </li>
            <br />
            <li>
              IS-arkitektur og systemintegrasjon for å integrere innovative
              løsninger i selskapets informasjonssystem.
            </li>
          </ul>
          <br />

          <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
          <br />
          <ul>
            <li>Rådgivning</li>
            <li>Diskstørrelse og minne</li>
            <li>Hadoop-teknologien</li>
            <li>Reaktiv til en prediktiv</li>
          </ul>
          <br />

          <h3>Rådgivning</h3>
          <p>
            Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
            bruke sine data på best mulig måte og hente maksimal verdi ut av
            dem.
          </p>
          <br />

          <h3>Diskstørrelse og minne</h3>
          <p>
            Databehandlingskraften til store databaser på områdene diskstørrelse
            og minne sikrer at kundene kan se enda nærmere på koblingen mellom
            forskjellig type informasjon.
          </p>
          <br />

          <h3>Hadoop-teknologien</h3>
          <p>
            Bruk av Hadoop-teknologien for å sette samme strukturert og
            ustrukturert data, samt modellere kunnskap basert på dette, gir
            håndfast innsikt.
          </p>
          <br />

          <h3>Reaktiv til en prediktiv</h3>
          <p>
            Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
            handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
          </p>
          <br />
          <p>
            Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
            sine kunder med å optimalisere den globale administrasjonen av
            selskapets data og tilbyr både løsninger innenfor Data Management
            (MDM/DQM) og Business Intelligence (BI).
          </p>
        </div>

<!------------------------------------------------------------------->
<!-- LEDELSE CONTENT ROW 5 BLOCK 2 -->
<!------------------------------------------------------------------->
      <div class="block14">
            <button class="collapsible">
              <img src="/img/roijen.png" class="contact-icon" alt="marte" />
              <h1>Sosiale Virksomheter</h1>
    
              <h4>Marte Røijen-Hammer</h4>
              <p>
Business Development Director, Banking & Insurance
              </p>
            </button>
    
            <div class="text">
              <p>
                <strong>
                  Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
                  potensielle verdien som ligger i virksomhetens data. Dataene er en
                  kilde til vekst og økt konkurransekraft.</strong
                >
              </p>
              <br />
    
              <p>
                Dette fremmer spørsmålet om hvordan man best benytter denne enorme
                mengden informasjon.
              </p>
              <br />
              <p>
                Sopra Sterias tilbud innenfor Big Data dekker to komplementære
                områder:
              </p>
              <br />
              <ul>
                <li>
                  Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
                  og følelser, identifisering av svindelforsøk og
                  svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
                </li>
                <br />
                <li>
                  IS-arkitektur og systemintegrasjon for å integrere innovative
                  løsninger i selskapets informasjonssystem.
                </li>
              </ul>
              <br />
    
              <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
              <br />
              <ul>
                <li>Rådgivning</li>
                <li>Diskstørrelse og minne</li>
                <li>Hadoop-teknologien</li>
                <li>Reaktiv til en prediktiv</li>
              </ul>
              <br />
    
              <h3>Rådgivning</h3>
              <p>
                Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
                bruke sine data på best mulig måte og hente maksimal verdi ut av
                dem.
              </p>
              <br />
    
              <h3>Diskstørrelse og minne</h3>
              <p>
                Databehandlingskraften til store databaser på områdene diskstørrelse
                og minne sikrer at kundene kan se enda nærmere på koblingen mellom
                forskjellig type informasjon.
              </p>
              <br />
    
              <h3>Hadoop-teknologien</h3>
              <p>
                Bruk av Hadoop-teknologien for å sette samme strukturert og
                ustrukturert data, samt modellere kunnskap basert på dette, gir
                håndfast innsikt.
              </p>
              <br />
    
              <h3>Reaktiv til en prediktiv</h3>
              <p>
                Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
                handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
              </p>
              <br />
              <p>
                Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
                sine kunder med å optimalisere den globale administrasjonen av
                selskapets data og tilbyr både løsninger innenfor Data Management
                (MDM/DQM) og Business Intelligence (BI).
              </p>
            </div>

            <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 5 BLOCK 3  -->
      <!------------------------------------------------------------------->
      <div class="block15">
            <button class="collapsible">
              <img src="/img/follestad.png" class="contact-icon" alt="morten" />
              <h1>Sosiale Virksomheter</h1>
    
              <h4>Morten Follestad</h4>
              <p>
Business Development Director, Defence & Homeland Security</p>
            </button>
    
            <div class="text">
              <p>
                <strong>
                  Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
                  potensielle verdien som ligger i virksomhetens data. Dataene er en
                  kilde til vekst og økt konkurransekraft.</strong
                >
              </p>
              <br />
    
              <p>
                Dette fremmer spørsmålet om hvordan man best benytter denne enorme
                mengden informasjon.
              </p>
              <br />
              <p>
                Sopra Sterias tilbud innenfor Big Data dekker to komplementære
                områder:
              </p>
              <br />
              <ul>
                <li>
                  Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
                  og følelser, identifisering av svindelforsøk og
                  svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
                </li>
                <br />
                <li>
                  IS-arkitektur og systemintegrasjon for å integrere innovative
                  løsninger i selskapets informasjonssystem.
                </li>
              </ul>
              <br />
    
              <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
              <br />
              <ul>
                <li>Rådgivning</li>
                <li>Diskstørrelse og minne</li>
                <li>Hadoop-teknologien</li>
                <li>Reaktiv til en prediktiv</li>
              </ul>
              <br />
    
              <h3>Rådgivning</h3>
              <p>
                Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
                bruke sine data på best mulig måte og hente maksimal verdi ut av
                dem.
              </p>
              <br />
    
              <h3>Diskstørrelse og minne</h3>
              <p>
                Databehandlingskraften til store databaser på områdene diskstørrelse
                og minne sikrer at kundene kan se enda nærmere på koblingen mellom
                forskjellig type informasjon.
              </p>
              <br />
    
              <h3>Hadoop-teknologien</h3>
              <p>
                Bruk av Hadoop-teknologien for å sette samme strukturert og
                ustrukturert data, samt modellere kunnskap basert på dette, gir
                håndfast innsikt.
              </p>
              <br />
    
              <h3>Reaktiv til en prediktiv</h3>
              <p>
                Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
                handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
              </p>
              <br />
              <p>
                Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
                sine kunder med å optimalisere den globale administrasjonen av
                selskapets data og tilbyr både løsninger innenfor Data Management
                (MDM/DQM) og Business Intelligence (BI).
              </p>
            </div>

<!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 6 BLOCK 1  -->
      <!------------------------------------------------------------------->
      <div class="block16">
            <button class="collapsible">
              <img src="/img/morten.png" class="contact-icon" alt="morten" />
              <h1>Sosiale Virksomheter</h1>
    
              <h4>Morten Queseth</h4>
              <p>
Business Development Director, Energy & Industry</p>
            </button>
    
            <div class="text">
              <p>
                <strong>
                  Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
                  potensielle verdien som ligger i virksomhetens data. Dataene er en
                  kilde til vekst og økt konkurransekraft.</strong
                >
              </p>
              <br />
    
              <p>
                Dette fremmer spørsmålet om hvordan man best benytter denne enorme
                mengden informasjon.
              </p>
              <br />
              <p>
                Sopra Sterias tilbud innenfor Big Data dekker to komplementære
                områder:
              </p>
              <br />
              <ul>
                <li>
                  Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
                  og følelser, identifisering av svindelforsøk og
                  svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
                </li>
                <br />
                <li>
                  IS-arkitektur og systemintegrasjon for å integrere innovative
                  løsninger i selskapets informasjonssystem.
                </li>
              </ul>
              <br />
    
              <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
              <br />
              <ul>
                <li>Rådgivning</li>
                <li>Diskstørrelse og minne</li>
                <li>Hadoop-teknologien</li>
                <li>Reaktiv til en prediktiv</li>
              </ul>
              <br />
    
              <h3>Rådgivning</h3>
              <p>
                Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
                bruke sine data på best mulig måte og hente maksimal verdi ut av
                dem.
              </p>
              <br />
    
              <h3>Diskstørrelse og minne</h3>
              <p>
                Databehandlingskraften til store databaser på områdene diskstørrelse
                og minne sikrer at kundene kan se enda nærmere på koblingen mellom
                forskjellig type informasjon.
              </p>
              <br />
    
              <h3>Hadoop-teknologien</h3>
              <p>
                Bruk av Hadoop-teknologien for å sette samme strukturert og
                ustrukturert data, samt modellere kunnskap basert på dette, gir
                håndfast innsikt.
              </p>
              <br />
    
              <h3>Reaktiv til en prediktiv</h3>
              <p>
                Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
                handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
              </p>
              <br />
              <p>
                Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
                sine kunder med å optimalisere den globale administrasjonen av
                selskapets data og tilbyr både løsninger innenfor Data Management
                (MDM/DQM) og Business Intelligence (BI).
              </p>
            </div>

            <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 6 BLOCK 2  -->
      <!------------------------------------------------------------------->
      <div class="block17">
            <button class="collapsible">
              <img src="/img/stina.png" class="contact-icon" alt="stina" />
              <h1>Sosiale Virksomheter</h1>
    
              <h4>Stina Birkeland</h4>
              <p>
Business Development Director, Retail</p>
            </button>
    
            <div class="text">
              <p>
                <strong>
                  Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
                  potensielle verdien som ligger i virksomhetens data. Dataene er en
                  kilde til vekst og økt konkurransekraft.</strong
                >
              </p>
              <br />
    
              <p>
                Dette fremmer spørsmålet om hvordan man best benytter denne enorme
                mengden informasjon.
              </p>
              <br />
              <p>
                Sopra Sterias tilbud innenfor Big Data dekker to komplementære
                områder:
              </p>
              <br />
              <ul>
                <li>
                  Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
                  og følelser, identifisering av svindelforsøk og
                  svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
                </li>
                <br />
                <li>
                  IS-arkitektur og systemintegrasjon for å integrere innovative
                  løsninger i selskapets informasjonssystem.
                </li>
              </ul>
              <br />
    
              <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
              <br />
              <ul>
                <li>Rådgivning</li>
                <li>Diskstørrelse og minne</li>
                <li>Hadoop-teknologien</li>
                <li>Reaktiv til en prediktiv</li>
              </ul>
              <br />
    
              <h3>Rådgivning</h3>
              <p>
                Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
                bruke sine data på best mulig måte og hente maksimal verdi ut av
                dem.
              </p>
              <br />
    
              <h3>Diskstørrelse og minne</h3>
              <p>
                Databehandlingskraften til store databaser på områdene diskstørrelse
                og minne sikrer at kundene kan se enda nærmere på koblingen mellom
                forskjellig type informasjon.
              </p>
              <br />
    
              <h3>Hadoop-teknologien</h3>
              <p>
                Bruk av Hadoop-teknologien for å sette samme strukturert og
                ustrukturert data, samt modellere kunnskap basert på dette, gir
                håndfast innsikt.
              </p>
              <br />
    
              <h3>Reaktiv til en prediktiv</h3>
              <p>
                Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
                handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
              </p>
              <br />
              <p>
                Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
                sine kunder med å optimalisere den globale administrasjonen av
                selskapets data og tilbyr både løsninger innenfor Data Management
                (MDM/DQM) og Business Intelligence (BI).
              </p>
            </div>

                        <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 6 BLOCK 3  -->
      <!------------------------------------------------------------------->
      <div class="block18">
            <button class="collapsible">
              <img src="/img/lykke.png" class="contact-icon" alt="maiken" />
              <h1>Sosiale Virksomheter</h1>
    
              <h4>Maiken Lykke</h4>
              <p>
Country Manager Denmark</p>
            </button>
    
            <div class="text">
              <p>
                <strong>
                  Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
                  potensielle verdien som ligger i virksomhetens data. Dataene er en
                  kilde til vekst og økt konkurransekraft.</strong
                >
              </p>
              <br />
    
              <p>
                Dette fremmer spørsmålet om hvordan man best benytter denne enorme
                mengden informasjon.
              </p>
              <br />
              <p>
                Sopra Sterias tilbud innenfor Big Data dekker to komplementære
                områder:
              </p>
              <br />
              <ul>
                <li>
                  Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
                  og følelser, identifisering av svindelforsøk og
                  svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
                </li>
                <br />
                <li>
                  IS-arkitektur og systemintegrasjon for å integrere innovative
                  løsninger i selskapets informasjonssystem.
                </li>
              </ul>
              <br />
    
              <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
              <br />
              <ul>
                <li>Rådgivning</li>
                <li>Diskstørrelse og minne</li>
                <li>Hadoop-teknologien</li>
                <li>Reaktiv til en prediktiv</li>
              </ul>
              <br />
    
              <h3>Rådgivning</h3>
              <p>
                Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
                bruke sine data på best mulig måte og hente maksimal verdi ut av
                dem.
              </p>
              <br />
    
              <h3>Diskstørrelse og minne</h3>
              <p>
                Databehandlingskraften til store databaser på områdene diskstørrelse
                og minne sikrer at kundene kan se enda nærmere på koblingen mellom
                forskjellig type informasjon.
              </p>
              <br />
    
              <h3>Hadoop-teknologien</h3>
              <p>
                Bruk av Hadoop-teknologien for å sette samme strukturert og
                ustrukturert data, samt modellere kunnskap basert på dette, gir
                håndfast innsikt.
              </p>
              <br />
    
              <h3>Reaktiv til en prediktiv</h3>
              <p>
                Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
                handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
              </p>
              <br />
              <p>
                Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
                sine kunder med å optimalisere den globale administrasjonen av
                selskapets data og tilbyr både løsninger innenfor Data Management
                (MDM/DQM) og Business Intelligence (BI).
              </p>
            </div>

                        <!------------------------------------------------------------------->
      <!-- LEDELSE CONTENT ROW 7 BLOCK 1  -->
      <!------------------------------------------------------------------->
      <div class="block19">
            <button class="collapsible">
              <img src="/img/anders.png" class="contact-icon" alt="anders" />
              <h1>Sosiale Virksomheter</h1>
    
              <h4>Anders Burestig</h4>
              <p>
CEO Sopra Steria Sweden</p>
            </button>
    
            <div class="text">
              <p>
                <strong>
                  Bedrifter og organisasjoner blir i økende grad oppmerksomme på den
                  potensielle verdien som ligger i virksomhetens data. Dataene er en
                  kilde til vekst og økt konkurransekraft.</strong
                >
              </p>
              <br />
    
              <p>
                Dette fremmer spørsmålet om hvordan man best benytter denne enorme
                mengden informasjon.
              </p>
              <br />
              <p>
                Sopra Sterias tilbud innenfor Big Data dekker to komplementære
                områder:
              </p>
              <br />
              <ul>
                <li>
                  Forretningsstøtte: prognoser av kundenes behov, analyser av atferd
                  og følelser, identifisering av svindelforsøk og
                  svindelforebyggende tiltak, forebyggende vedlikehold og lignende.
                </li>
                <br />
                <li>
                  IS-arkitektur og systemintegrasjon for å integrere innovative
                  løsninger i selskapets informasjonssystem.
                </li>
              </ul>
              <br />
    
              <p>Vi tilbyr en rekke tjenester som gir ulike fordeler:</p>
              <br />
              <ul>
                <li>Rådgivning</li>
                <li>Diskstørrelse og minne</li>
                <li>Hadoop-teknologien</li>
                <li>Reaktiv til en prediktiv</li>
              </ul>
              <br />
    
              <h3>Rådgivning</h3>
              <p>
                Vi gir kundene våre råd, slik at de kan identifisere hvordan de kan
                bruke sine data på best mulig måte og hente maksimal verdi ut av
                dem.
              </p>
              <br />
    
              <h3>Diskstørrelse og minne</h3>
              <p>
                Databehandlingskraften til store databaser på områdene diskstørrelse
                og minne sikrer at kundene kan se enda nærmere på koblingen mellom
                forskjellig type informasjon.
              </p>
              <br />
    
              <h3>Hadoop-teknologien</h3>
              <p>
                Bruk av Hadoop-teknologien for å sette samme strukturert og
                ustrukturert data, samt modellere kunnskap basert på dette, gir
                håndfast innsikt.
              </p>
              <br />
    
              <h3>Reaktiv til en prediktiv</h3>
              <p>
                Vi hjelper våre kunder med å bytte fra en reaktiv til en prediktiv
                handlemåte gjennom bruk av nye algoritmer og analyseverktøy.
              </p>
              <br />
              <p>
                Som en mangeårig aktør innenfor dataforvaltning hjelper Sopra Steria
                sine kunder med å optimalisere den globale administrasjonen av
                selskapets data og tilbyr både løsninger innenfor Data Management
                (MDM/DQM) og Business Intelligence (BI).
              </p>
            </div>
      </div>

    <!------------------------------------------------------------------->
    <!-- FOOTER -->
    <!------------------------------------------------------------------->

    <div class="footer"></div>

    <!------------------------------------------------------------------->
    <!-- BOTTOM BAR -->
    <!------------------------------------------------------------------->

    <div class="bottom"></div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
